<a href="https://colab.research.google.com/github/tigureis/PySpark_for_Sensor_Data_Transformation_and_Storage/blob/main/PySpark_for_Sensor_Data_Transformation_and_Storage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Install and import PySpark

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

Initiates a SparkSession

In [3]:
spark=SparkSession.builder.appName('sojaSensor').getOrCreate()

Load the data from a CSV file into a SparkDF

In [4]:
df=spark.read.format('csv').option('header',True).load('/content/sensores-iot.csv')

Check the DF

In [5]:
df.show(20)

+---+-----------+-----------+--------+--------------------+-----------+-----------+
|_c0|  device_id|temperature|humidity|           timestamp|   latitude|  longitude|
+---+-----------+-----------+--------+--------------------+-----------+-----------+
|  0|sensor-2231|         25|      49|2004-10-08 05:19:...| 39.0319385|-167.644666|
|  1|sensor-3869|         17|      42|2010-06-16 20:35:...| 43.4913955|  76.084671|
|  2|sensor-7079|         35|      58|2010-10-03 18:10:...|-39.9795415|-149.006886|
|  3|sensor-1163|         15|      64|2005-10-10 11:38:...| 28.1871005|-112.581419|
|  4|sensor-4483|         14|      65|2020-04-29 07:56:...| 89.2243515| -16.076939|
|  5|sensor-2821|         15|      52|2000-10-27 23:32:...|-55.3025525| -26.657210|
|  6|sensor-9805|         12|      37|2022-08-09 22:08:...| -25.912786| 122.693490|
|  7|sensor-1230|         10|      60|1970-02-02 17:32:...|-88.9300035|  33.377804|
|  8|sensor-4472|         11|      75|2014-02-22 06:42:...|-89.0426855| 120.266309|
|  9|sensor-2506|         21|      47|1996-05-07 20:48:...|  12.514161|-137.848048|
| 10|sensor-3518|         25|      26|1987-05-14 11:34:...| -56.307075| -16.077716|
| 11|sensor-8686|         31|      40|2021-04-29 06:24:...| -21.282637|  74.162657|
| 12|sensor-5294|         29|      73|2013-06-08 23:40:...|  64.529081|-101.889952|
| 13|sensor-7677|         11|      54|1977-03-07 21:41:...|  55.156515|-133.649076|
| 14|sensor-7121|         20|      55|1985-04-23 15:50:...|  75.636212|  83.222337|
| 15|sensor-4786|         13|      67|2014-07-17 03:02:...| 11.1979225|  -6.551372|
| 16|sensor-0415|         32|      58|1994-02-13 07:50:...| 52.3421005| -97.622644|
| 17|sensor-1413|         15|      65|2017-01-17 12:55:...| 45.2803425| 155.446898|
| 18|sensor-2884|         17|      36|1983-11-04 21:42:...|  76.162808|-139.796114|
| 19|sensor-7096|         20|      56|1974-01-15 11:58:...| -79.873674| 127.088715|
+---+-----------+-----------+--------+--------------------+-----------+-----------+
only showing top 20 rows

In [6]:
df

DataFrame[_c0: string, device_id: string, temperature: string, humidity: string, timestamp: string, latitude: string, longitude: string]

In [7]:
df.count()

1000000

Create a column with the date, extracted from the *timestamp* column

In [8]:
df=df.withColumn('date',F.to_date(F.col('timestamp')))

Extract the date and separate in 3 distinct columns (yyyy;mm;dd)

In [9]:
df=(df.withColumn('year', F.year('date'))
  .withColumn('month', F.month('date'))
  .withColumn('day', F.dayofmonth('date')))
df.show(5)

+---+-----------+-----------+--------+--------------------+-----------+-----------+----------+----+-----+---+
|_c0|  device_id|temperature|humidity|           timestamp|   latitude|  longitude|      date|year|month|day|
+---+-----------+-----------+--------+--------------------+-----------+-----------+----------+----+-----+---+
|  0|sensor-2231|         25|      49|2004-10-08 05:19:...| 39.0319385|-167.644666|2004-10-08|2004|   10|  8|
|  1|sensor-3869|         17|      42|2010-06-16 20:35:...| 43.4913955|  76.084671|2010-06-16|2010|    6| 16|
|  2|sensor-7079|         35|      58|2010-10-03 18:10:...|-39.9795415|-149.006886|2010-10-03|2010|   10|  3|
|  3|sensor-1163|         15|      64|2005-10-10 11:38:...| 28.1871005|-112.581419|2005-10-10|2005|   10| 10|
|  4|sensor-4483|         14|      65|2020-04-29 07:56:...| 89.2243515| -16.076939|2020-04-29|2020|    4| 29|
+---+-----------+-----------+--------+--------------------+-----------+-----------+----------+----+-----+---+
only showing top 5 rows

Calculate and store the average of temperature and humidity

In [10]:
mean_temp=df.select(F.mean(F.col('temperature'))).collect()[0][0]
mean_humidity=df.select(F.mean(F.col('humidity'))).collect()[0][0]

Use the calculated variables to fill the missing data

In [11]:
df.fillna({'temperature':mean_temp, 'humidity':mean_humidity}).show()

+---+-----------+-----------+--------+--------------------+-----------+-----------+----------+----+-----+---+
|_c0|  device_id|temperature|humidity|           timestamp|   latitude|  longitude|      date|year|month|day|
+---+-----------+-----------+--------+--------------------+-----------+-----------+----------+----+-----+---+
|  0|sensor-2231|         25|      49|2004-10-08 05:19:...| 39.0319385|-167.644666|2004-10-08|2004|   10|  8|
|  1|sensor-3869|         17|      42|2010-06-16 20:35:...| 43.4913955|  76.084671|2010-06-16|2010|    6| 16|
|  2|sensor-7079|         35|      58|2010-10-03 18:10:...|-39.9795415|-149.006886|2010-10-03|2010|   10|  3|
|  3|sensor-1163|         15|      64|2005-10-10 11:38:...| 28.1871005|-112.581419|2005-10-10|2005|   10| 10|
|  4|sensor-4483|         14|      65|2020-04-29 07:56:...| 89.2243515| -16.076939|2020-04-29|2020|    4| 29|
|  5|sensor-2821|         15|      52|2000-10-27 23:32:...|-55.3025525| -26.657210|2000-10-27|2000|   10| 27|
|  6|sensor-9805|         12|      37|2022-08-09 22:08:...| -25.912786| 122.693490|2022-08-09|2022|    8|  9|
|  7|sensor-1230|         10|      60|1970-02-02 17:32:...|-88.9300035|  33.377804|1970-02-02|1970|    2|  2|
|  8|sensor-4472|         11|      75|2014-02-22 06:42:...|-89.0426855| 120.266309|2014-02-22|2014|    2| 22|
|  9|sensor-2506|         21|      47|1996-05-07 20:48:...|  12.514161|-137.848048|1996-05-07|1996|    5|  7|
| 10|sensor-3518|         25|      26|1987-05-14 11:34:...| -56.307075| -16.077716|1987-05-14|1987|    5| 14|
| 11|sensor-8686|         31|      40|2021-04-29 06:24:...| -21.282637|  74.162657|2021-04-29|2021|    4| 29|
| 12|sensor-5294|         29|      73|2013-06-08 23:40:...|  64.529081|-101.889952|2013-06-08|2013|    6|  8|
| 13|sensor-7677|         11|      54|1977-03-07 21:41:...|  55.156515|-133.649076|1977-03-07|1977|    3|  7|
| 14|sensor-7121|         20|      55|1985-04-23 15:50:...|  75.636212|  83.222337|1985-04-23|1985|    4| 23|
| 15|sensor-4786|         13|      67|2014-07-17 03:02:...| 11.1979225|  -6.551372|2014-07-17|2014|    7| 17|
| 16|sensor-0415|         32|      58|1994-02-13 07:50:...| 52.3421005| -97.622644|1994-02-13|1994|    2| 13|
| 17|sensor-1413|         15|      65|2017-01-17 12:55:...| 45.2803425| 155.446898|2017-01-17|2017|    1| 17|
| 18|sensor-2884|         17|      36|1983-11-04 21:42:...|  76.162808|-139.796114|1983-11-04|1983|   11|  4|
| 19|sensor-7096|         20|      56|1974-01-15 11:58:...| -79.873674| 127.088715|1974-01-15|1974|    1| 15|
+---+-----------+-----------+--------+--------------------+-----------+-----------+----------+----+-----+---+
only showing top 20 rows

Replace *temperature* outliers with the *mean temperature*

In [12]:
df.withColumn('temperature',
              F.when(F.col('temperature').between(0,40),
                     F.col('temperature')).
              otherwise(F.lit(mean_temp)))

DataFrame[_c0: string, device_id: string, temperature: string, humidity: string, timestamp: string, latitude: string, longitude: string, date: date, year: int, month: int, day: int]

# Save the DF into a [Parquet](https://spark.apache.org/docs/latest/sql-data-sources-parquet.html)

In [13]:
df.write.parquet('parquet_tradicional_sensores.parquet')

Comprees using `snappy `to reduce the file size with a faster read/write operations

In [14]:
df.write.option('compression','snappy').parquet('parquet_snappy_sensores.parquet')

Comprees using `gzip` to get a smaller file size with a slight slower read/write operations

In [15]:
df.write.option('compression','gzip').parquet('parquet_gzip_sensores.parquet')

Use `partitionBy` organizes the DF into separate folders based on `devicer_id`, `temperature` and `humidity`. Compare the processing time of the operations.

In [16]:
df.write.partitionBy('device_id').parquet('parquet_device_sensores.parquet')

In [18]:
df.write.partitionBy('temperature').parquet('parquet_temperature.parquet')

In [19]:
df.write.partitionBy('humidity').parquet('humidity')

Use `read.parquet` to retrive the data from the parquet file

In [20]:
spark.read.parquet('parquet_tradicional_sensores.parquet').show(5)

+---+-----------+-----------+--------+--------------------+-----------+-----------+----------+----+-----+---+
|_c0|  device_id|temperature|humidity|           timestamp|   latitude|  longitude|      date|year|month|day|
+---+-----------+-----------+--------+--------------------+-----------+-----------+----------+----+-----+---+
|  0|sensor-2231|         25|      49|2004-10-08 05:19:...| 39.0319385|-167.644666|2004-10-08|2004|   10|  8|
|  1|sensor-3869|         17|      42|2010-06-16 20:35:...| 43.4913955|  76.084671|2010-06-16|2010|    6| 16|
|  2|sensor-7079|         35|      58|2010-10-03 18:10:...|-39.9795415|-149.006886|2010-10-03|2010|   10|  3|
|  3|sensor-1163|         15|      64|2005-10-10 11:38:...| 28.1871005|-112.581419|2005-10-10|2005|   10| 10|
|  4|sensor-4483|         14|      65|2020-04-29 07:56:...| 89.2243515| -16.076939|2020-04-29|2020|    4| 29|
+---+-----------+-----------+--------+--------------------+-----------+-----------+----------+----+-----+---+
only showing top 5 rows

In [21]:
spark.read.parquet('parquet_snappy_sensores.parquet').show(5)

+---+-----------+-----------+--------+--------------------+-----------+-----------+----------+----+-----+---+
|_c0|  device_id|temperature|humidity|           timestamp|   latitude|  longitude|      date|year|month|day|
+---+-----------+-----------+--------+--------------------+-----------+-----------+----------+----+-----+---+
|  0|sensor-2231|         25|      49|2004-10-08 05:19:...| 39.0319385|-167.644666|2004-10-08|2004|   10|  8|
|  1|sensor-3869|         17|      42|2010-06-16 20:35:...| 43.4913955|  76.084671|2010-06-16|2010|    6| 16|
|  2|sensor-7079|         35|      58|2010-10-03 18:10:...|-39.9795415|-149.006886|2010-10-03|2010|   10|  3|
|  3|sensor-1163|         15|      64|2005-10-10 11:38:...| 28.1871005|-112.581419|2005-10-10|2005|   10| 10|
|  4|sensor-4483|         14|      65|2020-04-29 07:56:...| 89.2243515| -16.076939|2020-04-29|2020|    4| 29|
+---+-----------+-----------+--------+--------------------+-----------+-----------+----------+----+-----+---+
only showing top 5 rows

In [22]:
spark.read.parquet('parquet_gzip_sensores.parquet').show(5)

+---+-----------+-----------+--------+--------------------+-----------+-----------+----------+----+-----+---+
|_c0|  device_id|temperature|humidity|           timestamp|   latitude|  longitude|      date|year|month|day|
+---+-----------+-----------+--------+--------------------+-----------+-----------+----------+----+-----+---+
|  0|sensor-2231|         25|      49|2004-10-08 05:19:...| 39.0319385|-167.644666|2004-10-08|2004|   10|  8|
|  1|sensor-3869|         17|      42|2010-06-16 20:35:...| 43.4913955|  76.084671|2010-06-16|2010|    6| 16|
|  2|sensor-7079|         35|      58|2010-10-03 18:10:...|-39.9795415|-149.006886|2010-10-03|2010|   10|  3|
|  3|sensor-1163|         15|      64|2005-10-10 11:38:...| 28.1871005|-112.581419|2005-10-10|2005|   10| 10|
|  4|sensor-4483|         14|      65|2020-04-29 07:56:...| 89.2243515| -16.076939|2020-04-29|2020|    4| 29|
+---+-----------+-----------+--------+--------------------+-----------+-----------+----------+----+-----+---+
only showing top 5 rows